{
  "env": {
    "commonjs": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "indent": ["error", 2],
    "linebreak-style": 0,
    "quotes": ["error", "single"],
    "semi": ["off", "always"]
  }
}
