.DS_Store
.idea/
.nvmrc
.nyc_output/
.vscode/
node_modules/
npm-debug.log
package-lock.json
storage/database/*
!storage/database/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/snapshot/*.data
tests/coverage/*
yarn.lock
