language: node_js

node_js:
  - node
  - 9

addons:
  apt:
    packages:
      - xsel

services:
  - redis-server

env:
  ARK_CI_TEST: true

before_install:
  # - npm install yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
  - yarn config set cache-folder $HOME/.cache/yarn

install: yarn
#   - yarn bootstrap

stages:
  - lint
  - depcheck
  - test
  # TODO
  # - browser_test

before_script:
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start; sleep 3; fi'
  # To avoid a problem when starting the Redis service
  - sudo redis-server /etc/redis/redis.conf --port 6379

script:
  # See https://jestjs.io/docs/en/troubleshooting.html#tests-are-extremely-slow-on-docker-and-or-continuous-integration-ci-server
  - yarn test:force-exit --ci --coverage
  - codecov

jobs:
  include:
    - stage: lint
      script: yarn lint
    # To lint the version 9 too
    - stage: lint
      node_js: 9
      script: yarn lint

    - stage: depcheck
      script: yarn depcheck
    # To lint the version 9 too
    - stage: depcheck
      node_js: 9
      script: yarn depcheck

    # TODO
    # - stage: browser_test
    #   script: yarn test:coverage
    # - stage: browser_test
    #   node_js: 9
    #   script: yarn test:coverage

cache:
  yarn: true # This wouldn't do anything because it needs a yarn.lock
  directories:
    - $HOME/.nvm/.cache
    - $HOME/.cache/yarn
    - node_modules
    - packages/**/node_modules

git:
  # It's not necessary to get more than the last commit (and this branch alone)
  depth: 1
