name: Devnet sync

on:
    schedule:
        - cron: "0 10 * * *"

jobs:
    devnet-sync:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              with:
                  ref: develop
            - name: Cache node modules
              uses: actions/cache@v1
              with:
                  path: node_modules
                  key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: ${{ runner.os }}-node-
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  host: ${{ secrets.SYNC_HOST }}
                  username: ${{ secrets.SYNC_USERNAME }}
                  password: ${{ secrets.SYNC_PASSWORD }}
                  port: ${{ secrets.SYNC_PORT }}
                  script_stop: true
                  script: bash devnet-sync-result.sh
